In [66]:
import sys
import pandas as pd
import numpy as np

# INPUT FILE
scen_file = 'esg_시나리오.xlsx'
in_file = '지수산출기초데이터.xlsx'
out_file_1 = 'convert_by_isu_'+ in_file   # xlsx로만 저장되네...
out_file_2 = 'convert_by_val_'+ in_file   # xlsx로만 저장되네...

# 개편일정보 가져오기
df = pd.read_excel(scen_file,dtype='unicode')
df = df['정기개편일']
df.drop_duplicates(inplace=True)
phase = df.values.tolist()

# input file 을 읽는다
#df = pd.read_csv(in_file, sep=',',dtype='unicode', parse_dates=True)
df = pd.read_excel(in_file, sep=',',dtype='unicode')

#숫자로 봐야하는 컬럼의 dtype을 변경한다
cols=df.columns.drop(['DATE','CODE'])
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

# 필요없는 컬럼 지우기
#df.drop([df.columns[1],df.columns[2],df.columns[4],df.columns[7],df.columns[10],df.columns[11]],axis=1,inplace=True)

#
df.set_index('DATE', inplace=True)
df.sort_index(axis = 0, level=0, inplace=True, ascending=True)

# START - 1. 종목별 세부 정보 만들기. MULTI INDEX level 0 => 종목, level 1 => 세부정보
# 각 개편일별로 끊어서 list에 추가함
df_list = []
for i in range(len(phase)) :
    if i == len(phase) -1 :
        df2 = df[phase[i]:]
        
    else:
        df2 = df[phase[i]:phase[i+1]]
        df2 = df2.drop(phase[i+1])
    # TABLE RESHAPE - 종목코드 열로 옮기는 작업
    #  - 키 추가
    df2.set_index(['CODE'], append=True, inplace=True) #index 추가시 append param 사용함
    # - 열로 옮김
    df2 = df2.unstack(level=1)
    # - 종목코드를 열 index level 0로
    df2.columns = df2.columns.swaplevel(0,1)
    # - 열 index level 1(종목별 항목들)을 sorting
    df2.sort_index(axis = 1, level=0, inplace=True)
    df2.apply(pd.to_numeric, errors='ignore')
    df_list.append(df2)

# 엑셀파일저장
with pd.ExcelWriter(out_file_1) as writer:
    for item in df_list :
        item.to_excel(writer, sheet_name=item.index[0])

print ('** FILE CREATED : ' + out_file_1)
# END - 1. 종목별 세부 정보 만들기. MULTI INDEX level 0 => 종목, level 1 => 세부정보

# START - 2. 세부정보별 종목정보 만들기. MULTI INDEX level 0 => 세부정보, level 1 => 종목
# 각 개편일별로 끊어서 list에 추가함
df_list = []
for i in range(len(phase)) :
    if i == len(phase) -1 :
        df2 = df[phase[i]:]
        
    else:
        df2 = df[phase[i]:phase[i+1]]
        df2 = df2.drop(phase[i+1])
    # TABLE RESHAPE - 종목코드 열로 옮기는 작업
    #  - 키 추가
    df2.set_index(['CODE'], append=True, inplace=True) #index 추가시 append param 사용함
    # - 열로 옮김
    df2 = df2.unstack(level=1)
    df2['BACE PRICE'].apply(pd.to_numeric, errors='ignore')
    df_list.append(df2)
# 엑셀파일저장
with pd.ExcelWriter(out_file_2) as writer:
    for item in df_list :
        item.to_excel(writer, sheet_name=item.index[0])
        
print ('** FILE CREATED : ' + out_file_2)
# END - 2. 세부정보별 종목정보 만들기. MULTI INDEX level 0 => 세부정보, level 1 => 종목

#완료
print ('converting 작업을 완료하였습니다.')

** FILE CREATED : convert_by_isu_지수산출기초데이터.xlsx
** FILE CREATED : convert_by_val_지수산출기초데이터.xlsx
converting 작업을 완료하였습니다.

In [11]:
my_df = df_list[0]
my_df.columns.levels[0]

Index(['BAS_PRICE', 'CLOSE_PRICE', 'IDX_LISTED_STOCKS', 'COMP_RT', 'STYLE_RT'], dtype='object')

In [ ]:
df_list = []
for i in range(len(phase)) :
    if i == len(phase) -1 :
        df2 = df[phase[i]:]
        
    else:
        df2 = df[phase[i]:phase[i+1]]
        df2 = df2.drop(phase[i+1])
    # 종목코드 열로 옮기는 작업
    #  - 키 추가
    df2.set_index(['ISU_SRT_CD'], append=True, inplace=True) #index 추가시 append param 사용함
    # - 열로 옮김
    df2 = df2.unstack(level=1)
    # - 종목코드를 열 index level 0로
    df2.columns = df2.columns.swaplevel(0,1)
    # - 열 index level 1(종목별 항목들)을 sorting
    df2.sort_index(axis = 1, level=0, inplace=True)
    df_list.append(df2)

In [ ]:
df_list[1].index[0]

In [ ]:
scen_file = 'esg_시나리오.xlsx'
df3 = pd.read_excel(scen_file,dtype='unicode')

In [ ]:
#df3.set_index('정기개편일', inplace=True)
df3 = df3['정기개편일']

In [ ]:
df3.drop_duplicates(inplace=True)

In [ ]:
price = mydf['CLOSE_PRICE'].astype('int64')

In [ ]:
mydf = df_list[0]["20161004" : "20161230"]
mydf

In [ ]:
shrs = mydf['IDX_LISTED_STOCKS'].astype('int64')

In [ ]:
iif = mydf['STYLE_RT'].astype(float)

In [ ]:
portion = price*shrs*iif

In [ ]:
sum = portion.sum(axis=1,skipna = True)

In [ ]:
portion.to_excel('portion.xlsx')

In [ ]:
cap = price.mul(shrs)

In [ ]:
portion = cap.mul(iif)

In [ ]:
portion.to_excel('portion.xlsx')

In [1]:
import sys
import pandas as pd
import numpy as np

infile = "calcmaster.xls"
df = pd.read_excel(infile, dtype='unicode')

In [2]:
df

,TRADE_DATE,IDX_CODE,ISIN_CODE,ISU_SRT_CD,MRK_TYPE,BAS_PRICE,CLOSE_PRICE,CALC_TYPE,IDX_LISTED_STOCKS,COMP_RT,FLOW_RT,CEILING_RT,STYLE_RT
0,20160104,NHI061,KR7006260004,006260,1,40350,39300,1,32200000,0.0802893332216639,0.53,0,3.70921945234522
1,20160104,NHI061,KR7009830001,009830,1,27200,26700,1,161939571,0.0805809686302536,0.64,0,0.902271486174199
2,20160104,NHI061,KR7010060002,010060,1,75000,72700,1,23849371,0.07990646989549299,0.7,0,2.03995944492085
3,20160104,NHI061,KR7011930005,011930,1,2020,1920,1,75525800,0.055097101718418,0.64,0,18.3950590556468
4,20160104,NHI061,KR7012330007,012330,1,246500,238000,1,97343863,0.0795919005304323,0.68,0,0.15653930367505
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,20201217,NHI061,KR7297090003,297090,NaN,32350,32800,1,9580400,0.0103278971524503,0.47,1,4.70012742388335
207,20201217,NHI061,KR7298040007,298040,NaN,62900,62300,1,9324548,0.0191290052121762,0.46,1,4.70012742388335
208,20201217,NHI061,KR7298050006,298050,NaN,148500,150500,1,4479948,0.026414571698067,0.56,1,4.70012742388335
209,20201217,NHI061,KR7306200007,306200,NaN,89600,89500,1,2836300,0.00720736116598348,0.4,1,4.70012742388335
210,20201217,NHI061,KR7336260005,336260,NaN,56700,55800,1,63217900,0.0805305012686278,0.35,1,4.25522713425193